body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main{
  background-image: url('./assets/img/girlLeaf.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  margin-bottom: 50px;
  /* border-bottom: solid black ; */
}
.introDiv-border{
  border: solid;
  border-color: black;
  margin-right: 150px;
  margin-top: 150px;
  padding:50px;
  width: 600px;
  height: 600px;
  float:right;
}
.introDiv{
  border: solid;
  border-color: black;
  width: 500px;
  height: 500px;
}
.intro{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 250px;
}
.intro-p{
  text-align: center;
  margin:50px;
}
.caroselSection{
  display: table;
  clear: both;
  border-spacing: 15px;
}
.caro{
  margin-left: 150px;
  margin-right: 150px;
  width: 300px;
  float: left;

}
Carousel{
  width: 300px;
}
CarouselItem{
  width: 300px;
}
CarouselControl{
  width: 300px;
}
.carouselIndicators{
  width: 300px;

}
CarouselIndicators{
  width: 300px;

}
